body {
  background-image: url(https://i.pinimg.com/1200x/ca/86/02/ca86023d61ffdc7df1c5472cc3a542bc.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

form {
  max-width: 400px;
  margin: 50px auto;
  padding: 25px;
  background-color: #f5f5f5;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: "Comic Relief", system-ui;
}

form label {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
  color: #333;
}

.campos {
  width: 100%;
  padding: 8px 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

#botonEnviar {
  width: 100%;
  padding: 10px;
  background-color: #968ae6;
  border-color: transparent;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s ease;
  font-family: "Comic Relief", system-ui;
}

#botonEnviar:hover {
  background-color: #e1db77;
}
p {
  text-align: center;
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
  font-family: "Comic Relief", system-ui;
}
